body {
  background: #1D2025;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
}
hr {
  max-width: 250px;
  height: 1px;
  margin: auto;
  background-color: #fff;
  border: 0px;
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 150px;
  border-radius: 50%;
  padding: 5px;
}
.name {
  max-width: 500px;
  margin: auto;
  padding: 5px;
}
.description {
  max-width: 500px;
  margin: auto;
  padding: 5px;
}

.contact {
  text-decoration: none;
  font-size: 12px
}

.buttons_div {
  max-width: 500px;
  margin: auto;
}
.buttons {
  border-width: 2px;
  border-radius: 15px;
  max-width: 500px;
  color: white;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: auto;
  display: block;
}
.instagram {
  background-color: #C13584;
  border: 2px solid #890851;
}
.instagram:hover {
  background-color: #D2569C;
}
.x {
  background-color: #1DA1F2;
  border: 2px solid #036EAE;
}
.x:hover {
  background-color: #73C4F4;
}
.youtube {
  background-color: #FF3333;
  border: 2px solid #E70707;
}
.youtube:hover {
  background-color: #FF5858;
}
.patreon {
  background-color: #F96854;
  border: 2px solid #7D342A;
}
.patreon:hover {
  background-color: #FF8979;
}
.pinterest {
  background-color: #BD081C;
  border: 2px solid #73000D;
}
.pinterest:hover {
  background-color: #E42238;
}
.ko-fi {
  background-color: #FBAA19;
  border: 2px solid #A26800;
}
.ko-fi:hover {
  background-color: #FFBD47;
}
.tumblr {
  background-color: #35465C;
  border: 2px solid #112339;
}
.tumblr:hover {
  background-color: #4B5D74;
}
.telegram {
  background-color: #0088CC;
  border: 2px solid #005076;
}
.telegram:hover {
  background-color: #04ADFF;
}
.deviantart {
  background-color: #05cc47;
  border: 2px solid #00842D;
}
.deviantart:hover {
  background-color: #2ED165;
}
.mastodon {
  background-color: #563ACC;
  border: 2px solid #290F94;
}
.mastodon:hover {
  background-color: #735AD7;
}
.bluesky {
  background-color: #0085FF;
  border: 2px solid #005FB5;
}
.bluesky:hover {
  background-color: #389FFC;
}
.buymeacoffee {
  background-color: #D6AC19;
  border: 2px solid #C6AB00;
}
.buymeacoffee:hover {
  background-color: #FFEA64;
}
.tiktok {
  background-color: #25F4EE;
  border: 2px solid #00CCC4;
}
.tiktok:hover {
  background-color: #82F7F3;
}
